.box-priority1 {
  border-left: 5px solid white;
}
.box-priority2 {
  border-left: 5px solid yellow;
}
.box-priority3 {
  border-left: 5px solid orange;
}
.box-priority4 {
  border-left: 5px solid red;
}
.box {
  margin-bottom: 10px;
}
.box h2 {
  margin-bottom: 10px;
}
